h1 {
  color: orange;
  text-align: center;
  font-size:100%;
  margin: 1px;
  padding: 1px;
  font-family: "Trebuchet MS"
}

h2 {
  color: orange;
  text-align: center;
  font-size:175%;
  margin: 1px;
  padding: 1px;
  font-family: "Trebuchet MS"
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.totalDiv {
  overflow: hidden;
  margin: 5px;
}

.hudDiv {
  float: left;
}

.mainDisplayDiv {
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}