h1 {
  color: fuchsia;
  margin: 2px;
  padding: 2px;
}

.totalDiv {
  overflow: hidden;
  margin: 5px;
}

.hudDiv {
  float: left;
}

.mainDisplayDiv {
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
}